@font-face {
  font-family: 'EurostileLTPro-BoldEx2';
  src: url('/webfonts/2650DC_0_0.eot');src: url('/webfonts/2650DC_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2650DC_0_0.woff') format('woff'),url('/webfonts/2650DC_0_0.ttf') format('truetype');
}

@media screen and (max-width: 800px) {
  #getting-started{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .index-main{
    display: none;
  }
  .container .articles, .container .sidebar {
    width: 91%;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu{
    display: none;
  }
}

.mobile-menu{
  ul li, a{
    color: white;
    display: block;
  }
  ul li:hover, ul li:focus{
    color: white;
  }
}

.container {
  max-width: 1000px;
  padding: 0 8px;
}

.tagline{
  padding-top: 2em;
}

body, body p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

h4{
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
  padding: 5px;
  border: 1px solid #efefef;
}

.navbar {
  background: #2692d7;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.navbar .navbar-brand {
  color: #fff;
  font-family: 'EurostileLTPro-BoldEx2';
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.navbar-brand span {
color: #9CB6EB;
font-size: 16px;
font-family: "EurostileLTPro-BoldEx2", Arial, Sans-serif;
text-transform: lowercase;
}

.navbar-nav > li > a {
  color: #e3ecff;
}

.navbar-nav > li > a:hover {
  color: #fff;
}

.navbar-nav > li.signup{
  margin-left: 8px;
}

.navbar-nav > .mobile-menu > li.signup{
  margin-left: 8px;
  margin-top: 10px;
}

.navbar-nav > li.signup > a.btn.btn-success {
  padding: 3px 10px;
  color: #fff;
  position: relative;
  top: 11px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.container a.btn.btn-success:hover, .container a.btn.btn-success:hover {
  background-color: #48c9b0;
  border-color: #48c9b0;
  color: #fff;
}

.navbar-nav > li.signup > a.btn.btn-success:hover, .navbar-nav > .mobile-menu > li.signup > a.btn.btn-success:hover {
  background-color: #48c9b0;
  border-color: #48c9b0;
  color: #fff;
}

.btn-success{
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.navbar-toggle {
  border: 2px solid #f3f8ff;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  -box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.navbar-toggle .icon-bar {
  background-color: #f3f8ff;
}

.navbar-toggle:hover {
  background: #36a2e7;
}

.nav-collapse.navbar-responsive-collapse.in .navbar-nav > li.signup > a.btn.btn-success {
  margin-bottom: 8px;
}

.navbar-nav > .nav-break {
color: #9CB6EB;
padding: 15px 10px 15px 0;
line-height: 20px;
border-radius: 4px;
}

.login{
  background-image: -webkit-linear-gradient(top, #2692d7,#CAD8EB 50%,#CAD8EB 50%,#2692d7);
  background-image: linear-gradient(to bottom, #2692d7,#CAD8EB 50%,#CAD8EB 50%,#2692d7);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1px 100%;
  margin-left: 18px;
  padding-left: 15px;
}

footer div {
  margin-bottom: 24px;
}

footer div #feeds {
  position: relative;
  bottom: 5px;
}

h1.post-title {
  font-size: 32px;
}

h1.post-title a:hover {
  text-decoration: none;
}

a.btn.read-more {
  display: block;
  margin: 12px 0;
  padding: 4px 12px;
  background-color: #fcfcfc;
}

.pnav {
  margin: 8px 0 0;
}

.well iframe {
  margin: 0 auto;
}

/*custom*/

.search {
  width: 80%;
  margin: 0;
  padding: 1em 0;
}

.note{
  color: #777;
}

.articles {
  margin: 20px 20px 20px 0;
  float: left;
  color: #000;
  width: 70%;
  padding: 0 20px 20px 20px;
}

.post-content li{
    list-style-type: disc;
  }

.articles .meta {
color: #999;
font-size: 11px;
font-style: italic;
margin: 0 0 8px 0;
}

.sidebar {
font-size: 1.6rem;
margin: 20px 0 0 0;
float: left;
color: #000;
width: 19%;
padding: 0 20px 0 20px;
background-color: #fff;
border: 1px solid #dedede;
}

#search .cse .gsc-control-cse, .gsc-control-cse {
  background-color: #fff;
  border: 1px solid #fff;
}

#search {
  .gsc-control-cse {
    border-color: #fff;
    background-color: #fff;
  }
  width: 90%;
  margin: auto auto;
}

.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}

.span {
  margin: 10px 0;
  float: left;
  width: 345px;
  min-height: 240px;
  line-height: 1.7;
}

[class*="span"] {
  float: left;
  margin-left: 30px;
}

li {
  &.module {
    a {
      padding: 12px;
      display: block;
      vertical-align: baseline;
      color: #1f252a;
      i {
        font-size: 48px;
      }
    }
    list-style: none;
    float: left;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
    list-style: none;
    text-align: center;
  }
  [class^="icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
  }
}

.nav li [class^="icon-"], li [class*=" icon-"], .nav li [class*=" icon-"] {
  width: 1.25em;
  text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
}

.icon-signin:before {
  content: "\f090";
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

li.module a {
  color: #5c5959;
}

.resources{
  ul{
    padding: 0px;
    margin: 0px;
    }
  li{
    width: 140px;
    padding: 0 10px;
  }
}

.topic{
  padding-bottom: 1rem;
}

.content {
  margin-right: 10px;
  float: left;
  color: #000;
  width: 900px;
  padding: 20px;
  margin-bottom: 20px;
}

.categories {
  padding: 1rem 0;
}

.categories ul {
  padding-left: 0px;
}

.category-index ul {
  padding-left: 0px;
}

.category_overview {
  margin: 16px 0;
  padding: 0;
  float: left;
  width: 388px;
  margin-right: 24px;
}

#category-databases{
  font-size: 16px;
}

.category-list{
  a{
    font-size: 16px;
  }
}

.box{
  margin: 1.2em 0;

  .nav{
    li{
      i{
      font-size: 24px;
      float: left;
      }
      [class^="icon-"], [class*=" icon-"]{
        width: 2.25em;
      }
    }
    li:hover, li:focus{

      a{
        background-color: rgba(0, 0, 0, 0);
        color: #428bca;
      }
    }

    li.module a:hover i {
      color: #2692d7;
      text-decoration: none;
    }

    li > a, .nav > li > a {
      text-decoration: none;
      color: black;
    }
  }
}



.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

li.module {
  a:hover {

    i {
      color: #2692d7;
      text-decoration: none;
    }
    text-decoration: none;
    color: #2692d7;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
}

ul li {
  color: rgb(92, 89, 89);
}


li {
  list-style-type: none;
}

.rss-item{
  padding-bottom: 8px;
}


.sidebar ul li:hover,.sidebar ul li:focus{
  color: #2692d7;
}

#search input.gsc-search-button {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #fff;
  &:hover, &:focus {
    background-color: #48c9b0;
    border-color: #48c9b0;
    color: #fff;
  }
}

.container * {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

.navbar .container * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2{
  width: auto !important;
  height: auto !important;
}

.menu-item li{
border-width: 1px;
 margin: -15px -15px 15px;
 border-radius: 0;
 border-width: 0 0 1px;
display: block;

  a {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 8px 10px;
  margin: 5px 0;
  display: block;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  line-height: 1.4rem;
  position: absolute;
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  border: 1px solid #eee;
  border-left: 1px solid transparent;
  color: #333333;
  position: relative;
  }

  a:before{
  content: "";
  position: absolute;
  width: 3px;
  top: -1px;
  bottom: -1px;
  left: -1px;
  background-color: #2692d7;
  background-image: -moz-linear-gradient(#2387C7, #2692d7);
  background-image: -webkit-linear-gradient(#2387C7, #2692d7);
  background-image: linear-gradient(#2387C7, #2692d7);
  }
}
