<ul class="nav nav-list">
  <li><i class="icon-home"></i><a href="/">Help Center</a></li>
  <li><i class="icon-signin"></i><a href="/categories/getting-started/">Getting Started</a></li>
  <li><i class="icon-th-large"></i><a href="/categories/boxes/">Boxes</a></li>
  <li><i class="icon-comments"></i><a href="/categories/collaboration/">Collaboration</a></li>
  <li><i class="icon-tasks"></i><a href="/categories/databases/">Databases</a></li>
  <li><i class="icon-share-alt"></i><a href="/categories/deployment/">Deployment</a></li>
  <li><i class="icon-play"></i><a href="/categories/previewing/">Previewing</a></li>
  <li><i class="icon-list-alt"></i><a href="/categories/web-ide/">Web IDE</a></li>
  <li><i class="icon-sitemap"></i><a href="/categories/ssh/">SSH</a></li>
  <li><i class="icon-question"></i><a href="/categories/faq/"></i>FAQ</a></li>
  <li><i class="icon-file"></i><a href="/categories/privacy-and-terms/">Privacy & Terms</a></li>
</ul>