<ul class="nav nav-list">
  <li><a href="/">Help Center</a></li>
  <li><a href="/categories/getting-started/">Getting Started</a></li>
  <li><a href="/categories/admin/">Admin</a></li>
  <li><a href="/categories/boxes/">Boxes</a></li>
  <li><a href="/categories/collaboration/">Collaboration</a></li>
  <li><a href="/categories/databases/">Databases</a></li>
  <li><a href="/categories/deployment/">Deployment</a></li>
  <li><a href="/categories/ssh/">SSH</a></li>
  <li><a href="/categories/faq/"></i>FAQ</a></li>
</ul>