<div class='clearfix' id='promo-main'>
  <div class="mast-container">
    <div id="search">
      <script>
      (function() {
        var cx = '009198278762462778395:pwuaikni4bs';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
      </script>
      <gcse:search></gcse:search>
    </div>
  </div>
</div>