<!DOCTYPE html>
<html class="home index">
{% include head.html %}
  <div class="container">
    {% include search.html %}
    <div class="sidebar">
      <div class="box menu">
        {% include menu.html %}
      </div>
    </div>
    <div class="articles post-content">
      <div class="page-title">
        <h2> {{ page.title }} </h2>
        <h5 class="note">Last Updated on: {{ page.date | date: "%d %B %Y" }}</h5>
      </div>
      {{ content }}
    </div>
</div>
{% include footer.html %}
</body>
</html>
