<!DOCTYPE html>
<html class="home index">
{% include header.html %}
<div class="white-bg">
  <div class="container">
    <div class='articles'>
      <div class="page-title">  
        <h1> {{ page.title }} </h1>
        <h5 class="note">Last Updated on: {{ page.date | replace: '00:00:00 +0000', ''}}</h5>
      </div>
      {{ content }}
    </div>
    <div class="sidebar">
      <div class="box">
        {% include menu.html %}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
</body>
</html>